body{
    background-color: rgba(15,16,18,255);
    color: white;
    font-family: 'DM Sans', sans-serif;
}
.header{
    display: flex;
    justify-content: space-around;
    height: 50px;
    margin-top: 20px;
}
.logo{
    display: flex;
    justify-content: center;
    width: 15%;
}
.options{
    display: flex;
    width:45%;
    justify-content: space-between;
    height:25px;
}
.options>div:hover{
    border-bottom: 2px solid white;
    border-radius: 2px;
}
.home{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
}
.slogan{
    font-size: 70px;
    display: flex;
    margin-bottom: 20px;
}
.slogan-para{
    font-size:20px;
    width:max(60%,300px);
}
