body{
    background-color: black;
    color: white;
    font-family: 'DM Sans', sans-serif;
}
.header{
    display: flex;
    justify-content: space-around;
    height: 50px;
    margin-top: 20px;
}
.logo{
    width: 25%;
}
.options{
    display: flex;
    width:45%;
    justify-content: space-between;
    height:25px;
}
.options>div:hover{
    border-bottom: 2px solid white;
    border-radius: 2px;
}